/* Example Flexbox Messenger Layout */
:root {
    --primary-color: #A491D2;
    --secondary-color: #cec8ef;
    --text-color: #666;
    --background-color: #f5f6fa;
    --font-family: 'Typefaces', roboto bold, open sans regular;
}

body {
    display: flex;
    margin: 0;
    font-family: var(--font-family);
    background: var(--background-color);
    flex-direction: column;
}
.main-section {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.contacts-container {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
}
.user-profile  {
    display: flex;
    flex-direction: row;
    justify-content: space-between   center;
    align-items: center;
    margin: 15px 15px 15px 15px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.user-info p {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #666;
}

.icons-menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 18%;
    align-items: right;
    justify-content: space-between;
    padding: 10px 30px;
}
/*.user-profile  p{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}*/
/*.user-profile icon {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
}*/

.user-profile img {
    display: flex;
    flex-direction: row;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-basis: 32px;
}
.newchat-button {
    display: flex;
    padding: 12px 16px;
    margin: 20px 20px 20px 20px;
    justify-content: center;
}
.newchat-button button {
    width: 70%;
    background: #A491D2;
    color: #fff;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
}
.newchat-button button:hover {
    background:  #cec8ef;

}
.newchat-button button:focus {
    background:   #BEC1BB;
}
.chat-box {
    padding: 42px 6px;  
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;

}
.contacts-list {
    flex-grow: 1;
    overflow-y: auto;
    justify-content: center;
}
.contact-box {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.contact-box img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
}
.view-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}
.view-container .view-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px 16px;
    align-items: center;
}
.view-container img {
    flex-basis: 50px 50px;
}
.view-container .view-box img {
    width: 275px;
    height: 275px;
    margin-right: 12px;
    align-items: center;
}